html,body{
    margin:0;
    padding:0;
    width:100vw;
    height:100%;
    font-family: candara;
    background-color: #837e7e;
}

.cabecalho{
    width:100%;
    height:7em;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

header img{
    height:100%;
}


header nav{
    width: 50%;
    display:flex;
    justify-content: space-evenly;
}

    header button{
        padding:10px;
        background-color: #9370db;
        border:0;
        font-family: candara;
        border-radius:5px;
        box-shadow: 0 0 0.8em #ffffff;

    }

.apresentacao{
    width: 100%;
    height:95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao article {
    width:50%;
    height:60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.apresentacao article p{
    margin:0;
    margin-left: 30px;
    font-size: 1.3em;
    padding:0;
    
}

.apresentacao article strong{
    margin:0;
    margin-left:30px;
    font-size: 1.5em;
    color: #9370db;
    padding:0;
}

.apresentacao article h1{
    margin:0;
    margin-left:30px;
    font-size:3em;
    color: #9370db;
    padding:0;


}

.social{
    width:35%;
    display:flex;
    justify-content: space-evenly;
    margin-top:30px;
}

.social a{
    padding:10px;
    background: #cdcdcd;
    color:#ffffff;
    font-weight: bold;
    border-radius: 10px;
    font-size: 0.8em;
}

.botoes{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left:25px;
}

.botoes button{
    padding:15px;
    background-color:#9370db;
    border:0;
    color:#ffffff;
    border-radius: 15px;
    box-shadow: 0 0 0.7em #ffffff; 
}

.foto{
    width:30%;
    height:70%;
    display:flex;
    align-items:center;
    justify-content: center;
}

.foto .fundo img{
    width: 82%;
    border-bottom-left-radius: 400PX;
    border-bottom-right-radius: 400px;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    align-items: center;
    display: flex;
    justify-content: center;
}




.sobremim img{
    width: 20%;
    border-bottom-left-radius: 200PX;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.sobremim{
    width:100%;
    height: 95vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #9370db;
    box-shadow: 0 0 0.7em;
    
}

.contatos{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.botoess{
    margin: 0;
    padding: 0;
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: column;
    border: 1px #9370db;
}

.botoess a{
    padding: 15px;
    background-color: #9370db;
    border: 0;
    color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 0.7em;
}

.botoess a:hover{
    background-color: #9370db;
    transition-duration: 0.2s;
    transform::rotate(15deg)
}

.contatos section{
    width: 65%;
    height: 100%;
}

.contatos header{
    width:100%;
}

.contatos h1{
    width: 60%;
    font-size: 1.8em;
    border: 1px #9370db
}

.contatos p{
    width: 100%;
    height: 20%;
    font-size: 1.4em;
}

.contatos form{
    display:flex;
    flex-direction: column;
    gap:5px;   
}

.contatos input{
    width: 44%;
    border:1px #9370db solid;
    background-color: #EEE;
    color:black;
    height:30px;
    padding:5px;
    font-size: 1.2em;
    border-radius: 5px;
    transition-duration: 0.2s;
}

::placeholder{
    color:#CDCDCD
}
